<ion-modal-view>
  <div class="tutorial-modal" >
    <ion-header-bar class="bar bar-header bar-calm">
      <button class="button button-clear button-primary pull-right" ng-click="closeModal()">Cancel</button>
    </ion-header-bar>

    <ion-content class="padding">
      <h3 class="gray-header">Welcome to Winston!</h3>
      <h4 class="gray-header">We are working on preparing a delicious first meal plan for you...</h4>
      <h4 class="gray-header"><i class="icon ion-minus-round"></i></h4>
      <h4 class="gray-header">To get a new set of recipes, simply pull down on the home page.</h4>
      <h4 class="gray-header"><i class="icon ion-minus-round"></i></h4>
      <h4 class="gray-header">Tap on a recipe title to see the instructions on how to make the dish.</h4>
      <div class="winston-logo">
        <img class="full-color" src="img/mono_icon_full_color.svg" />
      </div>
      <button class="button button-block button-calm tutorial-option" ng-click="closeModal()">Got it!</button>
    </ion-content>
  </div>
</ion-modal-view>