<ion-modal-view>
  <div class="tutorial-modal" >
    <ion-header-bar class="bar bar-header bar-calm">
      <button class="button button-clear button-primary pull-right" ng-click="closeModal()">Cancel</button>
    </ion-header-bar>

    <ion-content class="padding">
      <h3 class="gray-header">Welcome to Winston!</h3>
      <img style="display: block; margin: 0 auto;" height="50" class="full-color" src="img/mono_icon_full_color.svg" />
      <h4 class="gray-header">Here are a few tips to get you started.</h4>

      <h4 class="gray-header"><i class="icon ion-minus-round"></i></h4>
      <h4 class="gray-header">To refresh your entire meal plan, pull down on the Meals page.</h4>
      <h4 class="gray-header"><i class="icon ion-minus-round"></i></h4>
      <h4 class="gray-header">Tap on a recipe to see instructions on how to make the dish.</h4>
      <h4 class="gray-header"><i class="icon ion-minus-round"></i></h4>
      <h4 class="gray-header">Swipe left on a recipe to move, delete, or swap for a new recipe.</h4>
      <button style="margin-top: 20px" class="button button-block button-calm tutorial-option" ng-click="closeModal()">Got it!</button>
    </ion-content>
  </div>
</ion-modal-view>