<ion-view view-title="Groceries" ng-controller="GroceriesController">
	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-click="toggleReorder()">Reorder</button>
  </ion-nav-buttons>
	<ion-content delegate-handle="groceriesList">
		<ion-item>
			<label class="item-input-wrapper" ng-click="hideReorder()">
	    	<i class="icon ion-ios-compose-outline placeholder-icon"></i>
	    	<input class="ion-item__full-input" submit-on-enter submit-function="addItemToGroceriesList" type="search" placeholder="Add item to groceries list..." ng-model="itemInput.item" />
		  </label>
		</ion-item>
		<ion-list can-swipe="true" show-reorder="showReorder">
			<ion-item on-hold="toggleReorder()" ng-show="(groceries().length > 0) && (getShowCompletedItems() == true || groceryItem.checked != true && getShowCompletedItems() == false)" class="item item-checkbox checkbox-balanced" ng-repeat="groceryItem in groceriesInfinite() track by $index">
				<label class="checkbox">
					<input type="checkbox" ng-checked="groceryItem.checked" ng-click="changeCheckedStatus(groceryItem, $index)" />
				</label>
				<span>{{ groceryItem.item }}</span>
				<ion-reorder-button on-reorder="reorderItem(groceryItem, $fromIndex, $toIndex)">
		    	<i class="icon ion-arrow-down-c"></i>
		    	<i class="icon ion-arrow-up-c"></i>
		    </ion-reorder-button>
		    <ion-option-button class="button-assertive" ng-click="removeItem($index)">
			    <i class="icon ion-trash-a"></i>
			  </ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="moreGroceries()" distance="25%"></ion-infinite-scroll>
		<ng-include class="groceries-page-logo" src="'templates/winston_image.html'"></ng-include>
	</ion-content>
<!-- 	<ion-footer-bar class="bar bar-footer item-input-inset">
  	<label class="item-input-wrapper">
    	<i class="icon ion-ios-compose-outline placeholder-icon"></i>
    	<input ng-focus="scrollToTop()" submit-on-enter submit-function="addItemToGroceriesList" type="search" placeholder="Add item to groceries list..." ng-model="itemInput" />
	  </label>
	  <button class="button button-clear" ng-click="addItemToGroceriesList()">
	    Submit
	  </button>
	</ion-footer-bar> -->
</ion-view>