<ion-view view-title="Groceries" ng-controller="GroceriesController">
	<ion-content >
		<ion-list>
			<ion-item ng-show="groceries().length == 0">No results...</ion-item>
			<ion-item ng-show="groceries().length > 0" class="item item-checkbox checkbox-balanced" ng-repeat="groceryItem in groceries() track by $index">
				<label class="checkbox">
					<input type="checkbox" ng-checked="groceryItem.checked" ng-click="changeCheckedStatus(groceryItem, $index)" />
				</label>
				{{ groceryItem.item }}
			</ion-item>
		</ul>
	</ion-content>
</ion-view>
