<div class="item item-divider">{{ recipeInfo.date }}</div>
<ion-item item="recipeInfo" class="item-remove-animate item-source-link" ng-click="openInSafari(recipeInfo.recipe.sourceHref)">				
	<span class="item-source-link" ng-click="openInSafari(recipeInfo.recipe.sourceHref)">{{ recipeInfo.recipe.recipeTitle }}</span>
	<!-- NEED TO PASS ALL THESE FUNCTIONS THROUGH DIRECTIVE AS REFERENCES FROM CONTROLLER cf. TT -->
  <ion-option-button ng-show="recipeInfoIndex != 0" class="button-clear" ng-click="moveRecipe('up', recipeInfoIndex)">
    <i class="icon ion-arrow-up-c"></i>
  </ion-option-button>
  <ion-option-button ng-show="recipeInfoIndex != totalRecipes" class="button-clear" ng-click="moveRecipe('down', recipeInfoIndex)">
    <i class="icon ion-arrow-down-c"></i>
  </ion-option-button>
  <ion-option-button class="button-positive" ng-click="shareSocially(recipeInfo.recipe.recipeTitle, recipeInfo.recipe.sourceHref)">
    <i class="icon ion-ios-upload-outline"></i>
  </ion-option-button>
  <ion-option-button class="button-assertive" ng-click="removeRecipe(recipeInfoIndex)">
    <i class="icon ion-trash-a"></i>
  </ion-option-button>
  <ion-option-button class="button-energized" ng-click="refreshRecipe(recipeInfoIndex)">
    <i class="icon ion-refresh"></i>
  </ion-option-button>
</ion-item>

