<div class="item item-divider">{{ recipeInfo.date }}</div>
<ion-item item="recipeInfo" class="item-remove-animate item-source-link" href="{{ recipeInfo.recipe.sourceHref }}">				
	<span class="item-source-link" href="{{ recipeInfo.recipe.sourceHref }}">{{ recipeInfo.recipe.recipeTitle }}</span>
	
  <ion-option-button class="button-assertive" ng-click="removeRecipe($index)">
    <i class="icon ion-trash-a"></i>
  </ion-option-button>
  <ion-option-button class="button-energized"ng-click="refreshRecipe($index)">
    <i class="icon ion-refresh"></i>
  </ion-option-button>
	
	<ion-reorder-button class="ion-navicon" on-reorder="moveRecipe(recipeInfo, $fromIndex, $toIndex)"></ion-reorder-button>
</ion-item>