<ion-view view-title="Meals" ng-controller="StartController">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="toggleReorder()">
      <!-- <i class="icon ion-navicon"></i> -->
      Reorder
    </button>
  </ion-nav-buttons>
  <ion-content >
	  <ion-refresher
	    pulling-text="Release for a week of new recipes..."
	    on-refresh="getAllNewRecipes()"
	    pulling-icon="ion-arrow-down-b">
	  </ion-refresher>
  	<ion-list show-reorder="showReorder" can-swipe="listCanSwipe">
  		<ion-item-with-divider ng-repeat="recipeInfo in recipes() track by $index" recipe-info="recipeInfo"></ion-item-with-divider>
			<!-- <ion-item ng-repeat="recipe in recipes() track by $index" item="recipe" class="item-remove-animate item-source-link" ng-class="{'item-complex-shift-left': showReorder}" href="{{ recipe.sourceHref }}">
			  <span class="item-note">{{ daysOfWeek[$index] }}</span>
				
				<span class="item-source-link" href="{{ recipe.sourceHref }}">{{ recipe.recipeTitle }}</span>
				
				<ion-option-button class="button-calm"
                       ng-click="share(item)">
		      <i class="icon ion-heart"></i>
		    </ion-option-button>
		    <ion-option-button class="button-assertive" ng-click="removeRecipe($index)">
		      <i class="icon ion-trash-a"></i>
		    </ion-option-button>
		    <ion-option-button class="button-energized"ng-click="refreshRecipe($index)">
		      <i class="icon ion-refresh"></i>
		    </ion-option-button>
				
				<ion-reorder-button class="ion-navicon" on-reorder="moveRecipe(recipe, $fromIndex, $toIndex)"></ion-reorder-button>
			</ion-item> -->
  	</ion-list>
<!--   	<div class="menu-instructions">
  		Pull down for a new meal plan
  	</div> -->
  </ion-content>
</ion-view>