<ion-view view-title="Meals" ng-controller="StartController">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content >
	  <ion-refresher
	    pulling-text="Release for a week of new recipes..."
	    on-refresh="getAllNewRecipes()"
	    pulling-icon="ion-ios-arrow-down">
	  </ion-refresher>
  	<ion-list can-swipe="listCanSwipe">
  		<ion-item-with-divider 
  			ng-repeat="recipeInfo in recipes() track by $index" 
  			recipe-info="recipeInfo" 
  			recipe-info-index="$index" 
  			remove-recipe="removeRecipe" 
  			refresh-recipe="refreshRecipe" 
  			move-recipe="moveRecipe" 
  			total-recipes="recipes().length - 1">
  		</ion-item-with-divider>
  	</ion-list>
<!--   	<div class="menu-instructions">
  		Pull down for a new meal plan
  	</div> -->
  </ion-content>
</ion-view>