<ion-view view-title="Search" ng-controller="SearchController">
	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button hide-back-button="true"></ion-nav-back-button>
  </ion-nav-bar>
	<ion-content>
		<div class="list">
			<div class="search-and-replace-input">
				<label class="item item-input item-stacked-label">
			    <span class="input-label">{{ recipeDate }}</span><br />
			    <i class="icon ion-ios-search placeholder-icon"></i>
			    <input type="text" placeholder="Search for replacement recipe..." ng-model="recipeSearch.recipeTitle">
			  </label>
			  <div class="item item-divider">Search Results</div>
			</div>
		  <div class="card" ng-repeat="recipe in allRecipes() | orderBy:'recipeTitle' | filter:recipeSearch | limitTo:scrollLimit track by $index">
		 		<div class="item item-body">
			  	<p open-in-safari ng-click="openInSafari(recipe.sourceHref)">{{ recipe.recipeTitle }}</p>
			  </div>
		 		<div class="item tabs tabs-secondary tabs-icon-left">
			  	<a class="tab-item tab-item-balanced-bg" href="#">
				  	<i class="icon ion-ios-checkmark"></i> Select
			  	</a>
			  	<a class="tab-item tab-item-calm-bg" open-in-safari ng-click="openInSafari(recipe.sourceHref)">
			    	<i class="icon ion-android-compass"></i> View
			    </a>
			  </div>
		 	</div>
	 	</div>
	 	<ion-infinite-scroll on-infinite="increaseScrollLimit()" distance="25%"></ion-infinite-scroll>
	</ion-content>
</ion-view>