<ion-view view-title="Search" ng-controller="SearchController">
	<ion-nav-buttons></ion-nav-buttons>
	<ion-content has-list-with-scroll>
		<div class="list">
			<div class="search-recipes-input">
				<label class="item item-input item-input--no-top-padding item-stacked-label">
			    <i class="icon ion-ios-search placeholder-icon"></i>
			    <input type="text" placeholder="Search for recipe..." ng-model="recipeSearch.recipeTitle">
			  </label>
			  <div class="item item-divider">Search Results</div>
			</div>
		  <div class="card" ng-repeat="recipe in allRecipes() | orderBy:'recipeTitle' | filter:recipeSearch | limitTo:scrollLimit track by $index">
		 		<div class="item item-body">
			  	<p open-in-safari ng-click="openInSafari(recipe.sourceHref)">{{ recipe.recipeTitle }}</p>
			  </div>
		 		<div class="item tabs tabs-secondary tabs-icon-left">
			  	<a class="tab-item tab-item-balanced-bg" ng-click="scheduleRecipe(recipe)">
				  	<i class="icon ion-ios-calendar-outline"></i> Schedule
			  	</a>
			  	<a class="tab-item tab-item-calm-bg" open-in-safari ng-click="openInSafari(recipe.sourceHref)">
			    	<i class="icon ion-android-compass"></i> View
			    </a>
			  </div>
		 	</div>
	 	</div>
	 	<ion-infinite-scroll on-infinite="increaseScrollLimit()" distance="25%"></ion-infinite-scroll>
	</ion-content>
</ion-view>