<ion-modal-view>
  <div class="tutorial-modal">
    <ion-header-bar class="bar bar-header bar-calm">
      <h1 class="title" ng-show="showingTutorial == false">Tutorial?</h1>
      <button class="button button-clear button-primary" ng-click="tutorialModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content  class="padding">
      <div ng-show="showingTutorial == false">
        <h3 class="gray-header">Welcome to Winston!</h3>
        <h4 class="gray-header">We are working on preparing your first meal plan...</h4>
        <h4 class="gray-header">Would you like a tutorial?</h4>
        <ng-include src="'templates/winston_image.html'"></ng-include>
        <button class="button button-block button-calm tutorial-option" ng-click="startTutorial()">Yes</button>
        <button class="button button-block button-outline button-stable" ng-click="tutorialModal.hide()">No</button>
      </div>

      <div ng-show="showingTutorial == true">
      </div>
    </ion-content>
  </div>
</ion-modal-view>