<ion-view view-title="Start" ng-controller="StartController">
	<ion-header-bar align-title="center" class="bar-light">
    <h1 class="title">Title</h1>
    <div class="buttons">
      <button class="button" ng-click="toggleReorder()">Reorder</button>
    </div>
  </ion-header-bar>
  <ion-content >
  	<ion-list show-reorder="showReorder">
			<ion-item ng-repeat="recipe in recipes track by $index" item="recipe" class="item-remove-animate">
				{{ recipe.recipeTitle }}
				<ion-reorder-button class="ion-navicon" on-reorder="moveRecipe(recipe, $fromIndex, $toIndex)"></ion-reorder-button>
			</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>