<ion-view view-title="Start" ng-controller="StartController">
	<ion-header-bar align-title="center" class="bar-light">
    <h1 class="title">Title</h1>
  </ion-header-bar>
  <ion-content >
  	<ion-list show-reorder="showReorder" can-swipe="listCanSwipe">
			<ion-item ng-repeat="recipe in recipes() track by $index" item="recipe" class="item-remove-animate" ng-class="{'item-complex-shift-left': showReorder}">
			  <span class="item-note">{{ daysOfWeek[$index] }}</span>
				{{ recipe.recipeTitle }}
				<ion-option-button class="button-calm"
                       ng-click="share(item)">
		      <i class="icon ion-heart"></i>
		    </ion-option-button>
		    <ion-option-button class="button-assertive"
		                       ng-click="edit(item)">
		      <i class="icon ion-trash-a"></i>
		    </ion-option-button>
		    <ion-option-button class="button-energized"ng-click="edit(item)">
		      <i class="icon ion-refresh"></i>
		    </ion-option-button>
				<ion-reorder-button class="ion-navicon" on-reorder="moveRecipe(recipe, $fromIndex, $toIndex)"></ion-reorder-button>
			</ion-item>
  	</ion-list>
  </ion-content>
<!--   <div class="button-bar">
	  <a class="button">First</a>
	  <a class="button">Second</a>
	  <a class="button" ng-click="toggleReorder()">Reorder</a>
	</div> -->
	<div class="bar bar-footer">
		<div class="row">
			<button class="col button button-light" ng-click=""><i class="icon ion-funnel"></i></button>
			<button class="col button button-energized" ng-click="getAllNewRecipes()"><i class="icon ion-refresh"></i></button>
			<button class="col button button-light" ng-click="toggleReorder()"><i class="icon ion-navicon-round"></i></button>
		</div>
	</div>
</ion-view>
<!-- 

ng-class="[{'tt-radio': activeAssumption.scenario != scenario || activeAssumption.id != null},{'tt-radio-checked': activeAssumption.scenario == scenario && activeAssumption.id == null}]" -->