<ion-view view-title="Start" ng-controller="StartController">
	<ion-header-bar align-title="center" class="bar-light">
    <h1 class="title">Title</h1>
    <button class="button button-light"><i class="icon ion-bag"></i></button>
  </ion-header-bar>
  <ion-content >
  	<ion-list show-reorder="showReorder" can-swipe="listCanSwipe">
			<ion-item ng-repeat="recipe in recipes() track by $index" item="recipe" class="item-remove-animate item-source-link" ng-class="{'item-complex-shift-left': showReorder}" href="{{ recipe.sourceHref }}">
			  <span class="item-note">{{ daysOfWeek[$index] }}</span>
				
				<span class="item-source-link" href="{{ recipe.sourceHref }}">{{ recipe.recipeTitle }}</span>
				
				<!-- <ion-option-button class="button-calm"
                       ng-click="share(item)">
		      <i class="icon ion-heart"></i>
		    </ion-option-button> -->
		    <ion-option-button class="button-assertive" ng-click="removeRecipe($index)">
		      <i class="icon ion-trash-a"></i>
		    </ion-option-button>
		    <ion-option-button class="button-energized"ng-click="refreshRecipe($index)">
		      <i class="icon ion-refresh"></i>
		    </ion-option-button>
				
				<ion-reorder-button class="ion-navicon" on-reorder="moveRecipe(recipe, $fromIndex, $toIndex)"></ion-reorder-button>
			</ion-item>
  	</ion-list>
  </ion-content>
	<div class="bar bar-footer">
		<div class="row">
			<!-- <button class="col button button-light" ng-click=""><i class="icon ion-funnel"></i></button> -->
			<button class="col button button-energized" ng-click="getAllNewRecipes()"><i class="icon ion-refresh"></i><span class="button-subtext">Refresh</span></button>
			<button class="col button button-light" ng-click="toggleReorder()"><i class="icon ion-navicon-round"></i><span class="button-subtext">Reorder</span></button>
		</div>
	</div>
</ion-view>