<!-- USING SIDEBAR MENU INSTEAD -->
<!-- <ion-tabs class="tabs-icon-top tabs-stable">

  <ion-tab title="Settings" icon="ion-toggle" ui-sref="tabs.settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Menu" icon="ion-calendar" ui-sref="tabs.menu">
    <ion-nav-view name="menu-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Groceries" icon="ion-bag" ui-sref="tabs.groceries">
    <ion-nav-view name="groceries-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs> -->