// Custom css

// ---IONIC OVERRIDES
.view-container {
	background: $stable !important; // shame, needs improvement! 
	.pane {
		background-color: inherit;
    .list {
      &:last-child.card {
        margin-bottom: 0;
      }
    }
    .item {
      h2 {
        overflow: visible;
        text-overflow: inherit;
        white-space: normal;
      }
      p {
        margin-top: 0;
      }
      .item-toggle-label {
        color: lighten($dark, 20%);
        font-size: 0.9em;
        // padding-left: 10px;
      }
    }
    ion-item {
      &.item-complex {
        .item-content {
          padding: 16px;
          -webkit-transition: all ease-in-out 250ms;
          transition: all ease-in-out 250ms;
        }
      }
      &.item-complex-shift-left {
        .item-content {
          padding-right: 80px;
        }
      }
      ion-option-button {
        &.button {
          min-height: 52px;
        }
        i {
          margin-left: 5px;
        }
      }
      &.item-checkbox {
        padding-left: 0px;
        .item-content {
          span {
            padding-left: 35px;
          }
        }
        ion-reorder-button {
          color: #b2b2b2;
          i + i {
            padding-left: 2px;
          }
        }
      }
      .ion-item__full-input {
        background: #eee;
        width: 100%;
      }
    }
    ion-infinite-scroll {
      height: 0px;
    }
    .bar-footer {
      .row {
        padding: 0;
        button {
          border-radius: 0;
        }
      }
    }
	}
}

.scroll-bar-indicator {
  display: none;
}

.button-icon .icon:before, .button-icon.icon:before {
  font-size: 24px;
}

.button-subtext {
  display: block;
  margin-top: -18px;
}

.menu-instructions {
  color: $scroll-refresh-icon-color;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 0 10px 0;
  text-align: center;
}

.winston-logo {
  margin: 15px auto;
  padding-bottom: 10px;
  text-align: center;
  img {
    &.full-color {
      opacity: 1;
    }
    opacity: 0.05;
    width: 25%;
  }
}

.modal{
  top: 0 ;
  bottom: 0 ; 
  left: 0 ;
  right: 0 ;
  width: 100% ;
}

.tutorial-modal {
  .gray-header {
    color: gray;
    text-align: center;
  }
  .winston-logo {
    // margin-top: 0;
    // position: absolute;
    // text-align: right;
  }
  .tutorial-option {
    // margin-top: 20%;
  }
  // .ionic-scroll {
  //   background: url("../img/mono_icon_full_color.svg");
  //   background-size: cover;
  // }
}
